@font-face {
  font-family: 'Inter';
  src: local("Inter");
}

div {
  display: block;
}

html {
  height: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100vw;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: auto 1fr auto;

}

main {
  display: table-row;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1550px;
}

header {

  display: flex;
  background-color: #7C49E9;
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.header_logo {
  margin: 4px;
  margin-left: 25px;
  margin-top: 5px;
  display: flex;
  left: 3;
  top: 3;
  width: 55px;
  height: 65px;
}

.header__p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  padding-right: 500px;

  color: #FFFFFF;
}


.header_inner {

  display: flex;
  justify-content: space-between;
  align-items: center;

}



/* NAV */
nav {
  font-family: 'Inter', sans-serif;
}


.button_1 {
  width: 320px;
  background-color: #7C49E9;
  border-style: none;
  height: 70px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

.button_1:hover {
  background-color: #9667F8
}

.button_1:active {
  position: relative;
  top: 1px;
  background: #8056d3;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
  border-color: #1a0435;
}

.a-btn:active .a-btn-icon-right span {
  transform: scale(1.4);
}

.nav_link {

  font-size: 22px;
  display: inline-block;
  vertical-align: top;
  margin-top: 8px;
  margin-right: 15px;
  margin-left: 15px;

  color: #FFFFFF;
  text-decoration: none;

  transition: color 0.2s linear;
}

.section_1 {}


/* news */

.counterrr {
  display: flex;
  justify-content: flex-end;
  padding-right: 100px;
  margin-top: 30px;
}

.counter {
  display: flex;
  width: 400px;
  height: 50px;

  background: #BBDAFF;
  border-radius: 21px;
}

.tcounter {
  display: flex;
  width: 473px;
  height: 39px;
  justify-content: center;

  padding-top: 6px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 39px;

  text-align: center;

  color: #000000;
}



.GP {
  display: block;
  width: 1550px;
  height: 80px;
  margin-top: 90px;
  background: #E4EFFF;
}


.TGP {
  display: flex;
  width: 1550px;
  height: 77px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 77px;
  justify-content: center;
  color: #000000;
}

.news_1 {
  box-sizing: border-box;

  display: flex;
  width: 1300px;
  height: 400px;
  margin-top: 50px;
  margin: 50px;
  margin-left: 100px;


  background: #E1E8FF;
  border-radius: 20px;


}


.time_mark_1 {
  display: flex;
  width: 222px;
  height: 38px;
  align-items: center;

  margin-left: 15px;
  margin-top: 10px;

  background-color: #FFFFFF;
  border-radius: 10px;
}

.condition {
  display: flex;
  width: 157px;
  height: 38px;
  align-items: center;
  justify-content: center;


  margin-left: 15px;
  margin-top: 10px;

  background: #9AB0FF;
  border-radius: 10px;
}

.tcondition {
  display: flex;
  width: 73px;
  height: 29px;



  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */


  color: #307443;

}

.time {
  display: flex;
  width: 170px;
  height: 28px;


  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;

  margin-left: 7px;

  color: #7D7D7D;

}

.logo_time {
  display: flex;
  width: 29px;
  height: 29px;

  margin-left: 10px;

  background: url(img_60372);
}

.photo_1 {
  display: flex;
  width: 500px;
  height: 300px;

  margin-left: 15px;

  background: url(cc07793f-54a4-54bb-9529-04ad68625944.jpg);
  border-radius: 20px;
}

.inner {
  display: flex;
  height: auto;
  width: 560px;
  flex-flow: row nowrap;
  flex-wrap: wrap;
}

.name {
  display: inline-block;
  height: 68px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  justify-content: center;

  color: #000000;
}

.text_field {
  display: flex;
  width: 700px;
  height: 300px;
  left: 550px;
  top: 65px;

  background: #FCFBFF;
  border-radius: 20px;
}

.text_1 {
  display: flex;
  height: 200px;
  margin: 15px;
  margin-left: 20px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 39px;

  color: #000000;
}

.category_1 {
  display: flex;
  width: 207px;
  height: 38px;

  float: right;
  margin-top: 10px;

  align-items: center;
  justify-content: center;

  background: #44AEB5;
  border-radius: 10px;
}

.tcategory_1 {
  display: flex;
  width: auto;
  height: auto;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 39px;


  color: #CCFFF3;

}


/* news_2 */

.news_2 {
  display: flex;
  box-sizing: border-box;
  margin: 30px;
  width: 1300px;
  height: 400px;
  margin-top: 50px;
  margin: 50px;
  margin-left: 100px;
  background: #E1E8FF;
  border-radius: 20px;
}


.time_mark_2 {
  display: flex;
  width: 222px;
  height: 38px;
  align-items: center;

  margin-left: 15px;
  margin-top: 10px;

  background-color: #FFFFFF;
  border-radius: 10px;
}

.condition_2 {
  display: flex;
  width: 157px;
  height: 38px;
  align-items: center;
  justify-content: center;


  margin-left: 15px;
  margin-top: 10px;

  background: #9AB0FF;
  border-radius: 10px;
}

.tcondition_2 {
  display: flex;
  width: 73px;
  height: 29px;



  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */


  color: #307443;

}

.time_2 {
  display: flex;
  width: 170px;
  height: 28px;


  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;

  margin-left: 7px;

  color: #7D7D7D;
}

.logo_time_2 {
  display: flex;
  width: 29px;
  height: 29px;

  margin-left: 10px;

  background: url(img_60372);
}

.photo_2 {
  display: flex;
  width: 500px;
  height: 300px;

  margin-left: 15px;

  background: url(cc07793f-54a4-54bb-9529-04ad68625944.jpg);
  border-radius: 20px;
}

.name_2 {
  display: inline-block;
  height: 68px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  justify-content: center;

  color: #000000;
}

.text_field_2 {
  display: flex;
  width: 700px;
  height: 300px;
  left: 550px;
  top: 65px;

  background: #FCFBFF;
  border-radius: 20px;
}

.text_2 {
  display: flex;
  height: 200px;
  margin: 15px;
  margin-left: 20px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 39px;

  color: #000000;
}

.category_2 {
  display: flex;
  width: 207px;
  height: 38px;

  float: right;
  margin-top: 10px;

  align-items: center;
  justify-content: center;

  background: #44AEB5;
  border-radius: 10px;
}

.tcategory_2 {
  display: flex;
  width: auto;
  height: auto;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 39px;


  color: #CCFFF3;

}

/* FOOTER */


.site-footer {
  display: flex;
  width: 100%;
  align-items: flex-start;
  margin-top: auto;
  background-color: #7C49E9;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.3);
}

.wrapper {
  display: inline-block;
  width: 100%;
  height: 100px;

}

.logo_footer {
  display: inline-block;
  width: 60px;
  height: 80px;
  padding: 10px;
  background: url(logo.png);
}

.footext {
  width: 300px;
  height: 78px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 18px;
  margin-top: 9px;

  color: #000000;
}

.social-icons {
  float: right;
  display: flex;
  justify-content: right;
  list-style: none;
  margin-right: 4rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.social-icons>li {
  margin-left: 0.50rem;
  margin-right: 0.50rem;
}

.social-icons a {
  position: relative;
  background-color: #eee;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color 0.2s ease-in-out;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: .25rem;
}

.social-icons a:hover {
  background-color: #b7b7b7;
}

.social-icons a::before {
  content: "";
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  left: .65rem;
  top: .65rem;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.social-icons .social-icon-vk::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%232787f5' d='M545 117.7c3.7-12.5 0-21.7-17.8-21.7h-58.9c-15 0-21.9 7.9-25.6 16.7 0 0-30 73.1-72.4 120.5-13.7 13.7-20 18.1-27.5 18.1-3.7 0-9.4-4.4-9.4-16.9V117.7c0-15-4.2-21.7-16.6-21.7h-92.6c-9.4 0-15 7-15 13.5 0 14.2 21.2 17.5 23.4 57.5v86.8c0 19-3.4 22.5-10.9 22.5-20 0-68.6-73.4-97.4-157.4-5.8-16.3-11.5-22.9-26.6-22.9H38.8c-16.8 0-20.2 7.9-20.2 16.7 0 15.6 20 93.1 93.1 195.5C160.4 378.1 229 416 291.4 416c37.5 0 42.1-8.4 42.1-22.9 0-66.8-3.4-73.1 15.4-73.1 8.7 0 23.7 4.4 58.7 38.1 40 40 46.6 57.9 69 57.9h58.9c16.8 0 25.3-8.4 20.4-25-11.2-34.9-86.9-106.7-90.3-111.5-8.7-11.2-6.2-16.2 0-26.2.1-.1 72-101.3 79.4-135.6z'/%3E%3C/svg%3E");
}

.social-icons .social-icon-youtube::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%23ff0000' d='M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z'/%3E%3C/svg%3E");
}

.social-icons .social-icon-telegram::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%2327a7e7' d='M446.7 98.6l-67.6 318.8c-5.1 22.5-18.4 28.1-37.3 17.5l-103-75.9-49.7 47.8c-5.5 5.5-10.1 10.1-20.7 10.1l7.4-104.9 190.9-172.5c8.3-7.4-1.8-11.5-12.9-4.1L117.8 284 16.2 252.2c-22.1-6.9-22.5-22.1 4.6-32.7L418.2 66.4c18.4-6.9 34.5 4.1 28.5 32.2z'/%3E%3C/svg%3E");
}


/*  РЕГИСТРАЦИЯ  */

.regauth {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.regauth_border {
  width: 475px;
  height: 550px;
  background-color: rgb(146, 109, 251, 0.8);
  border: 4px solid #7C49E9;
  border-radius: 30px;
}

.regauth_h {
  display: inline-block;
  font-family: 'Inter', sans-serif;
  width: 490px;
  height: 50px;
  font-size: 39px;
  text-align: center;
  padding-top: 23px;
  line-height: 48px;
  color: #FFFFFF;
}

.form {
  padding-left: 23px;
  padding-right: 23px;
  letter-spacing: 1px;
}

.auth_forms_text {
  font-family: 'Inter', sans-serif;
  width: 560px;
  height: 77px;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
}

.form__input {
  font-family: 'Inter', sans-serif;
  color: #000000;
  width: 100%;
  font-size: 25px;
}

.form__group {
  position: relative;
  margin-bottom: 32px;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.auth_checkbox_text {
  font-family: 'Inter', sans-serif;
  width: 570px;
  height: 77px;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 3px solid rgb(55, 48, 139);
  border-radius: 0.25em;
  margin-right: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
  border-color: rgb(55, 48, 139);
  background-color: rgb(55, 48, 139);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}


/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active+label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled+label::before {
  background-color: #e9ecef;
}

.form__button {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 12px 20px;
  border: none;
  border-radius: 12px;
  color: #FFFFFF;
  background-color: rgb(55, 48, 139);
  font-size: 24px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.form__button:hover {
  background-color: rgba(139, 16, 135);
}

/*.
    transition: background-color 0.1s ease-in-out;
*/

.form__button:active {
  position: relative;
  top: 1px;
  background: #8056d3;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
  border-color: #1a0435;
}

.a-btn:active .a-btn-icon-right span {
  transform: scale(1.4);
}

.poloska {
  display: flex;
  width: 1550px;
  height: 80px;
  margin-top: 15px;
  background: #E4EFFF;
}

.textp {
  display: flex;
  width: 1550px;
  height: 77px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 77px;
  margin-left: 300px;
  color: #000000;
}

.quit {
  width: 320px;
  background-color: #E4EFFF;
  border-style: none;
  height: 70px;
  margin-top: 5.7px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

.quit:hover {
  background-color: #ceb4ff
}

.quit:active {
  position: relative;
  top: 1px;
  background: #7C49E9;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
  border-color: #1a0435;
}

.a-btn:active .a-btn-icon-right span {
  transform: scale(1.4);
}

.quit__text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 77px;

  color: #000000;
}


/*  СТРАНИЦА АДМИНИСТРАТОРА  */
.Header_2 {

  display: flex;
  width: 100%;
  height: 200px;
  background-color: rgba(173, 143, 254, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.upper {
  display: flex;
  width: 100%;
  align-items: center;
}

.photography {

  box-sizing: border-box;

  display: flex;
  width: 150;
  height: 150px;
  margin: 40px;
  margin-top: 25px;

  background: url(ava-vk-animal-16.jpg);
  border: 5px solid #4036AB;
  border-radius: 450px;
  transform: rotate(-1.1deg);
}

.name_3 {
  display: flex;
  width: 826px;
  height: 50px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 77px;
  text-align: center;

  color: #000000;
}

.status {
  display: flex;
  width: 310px;
  height: 48px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 48px;

  color: #F30000;
}


.button_quit {

  display: flex;
  width: 150px;
  justify-content: center;
  align-items: center;
  background-color: #ed1212;
  border-style: none;
  height: 50px;
  margin-top: 5.7px;
  margin-right: 30px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  float: right;
}

.button_quit:hover {
  background-color: #fb5656
}

.button_quit:active {
  position: relative;
  top: 1px;
  background: #a90505ee;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
  border-color: #1a0435;
}

.a-btn:active .a-btn-icon-right span {
  transform: scale(1.4);
}

.text_quit {
  display: flex;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 77px;

  color: #ffffff;
}


.sect_1 {
  display: flex;
}


.line_nav {
  display: flex;
  width: 100%;
  height: 80px;
  margin-top: 70px;
  background: #E4EFFF;
  align-items: center;
  justify-content: space-between;
}


.all_applications {
  display: flex;
  width: 600px;

}


.taa {
  margin-left: 20px;
  display: flex;
  width: 363px;
  height: 77px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 77px;

  color: #000000;
}

.navig {
  display: flex;
  width: 500px;
  justify-content: space-around;
  margin-right: 10px;
}

.edit_category {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  float: right;

  width: 220px;
  height: 30px;

  background-color: #A9CFF1;
  border-radius: 3610px;
}

.edit_category:hover {
  background-color: #487b9d;
}

.edit_category:active {
  position: relative;
  top: 1px;
  background: #a90909ee;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
  border-color: #1a0435;
}

.a-btn:active .a-btn-icon-right span {
  transform: scale(1.4);
}

.ect {
  display: flex;
  width: 430px;
  height: 39px;
  justify-content: center;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 39px;
  color: #000000;
}

.filtr {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  float: right;

  width: 150px;
  height: 30px;

  background-color: #37a8d1;
  border-radius: 3610px;
}

.filtr:hover {
  background-color: #487b9d;
}

.filtr:active {
  position: relative;
  top: 1px;
  background: #0944a9ee;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
  border-color: #1a0435;
}

.a-btn:active .a-btn-icon-right span {
  transform: scale(1.4);
}

.tf {
  display: flex;
  width: 430px;
  height: 39px;
  justify-content: center;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 39px;

}

.applications_field {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.tl {
  display: flex;
  height: 55px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}


.a_1 {
  display: flex;
  width: 1400px;
  height: 500px;

  margin-top: 40px;
  background: #CFF3FB;
  border-radius: 30px;
  flex-direction: column;
}

.time_mark_1_1 {
  display: flex;
  width: 222px;
  height: 38px;
  align-items: center;

  margin-left: 15px;


  background-color: #FFFFFF;
  border-radius: 10px;
}

.name_1_1 {
  display: inline-block;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 48px;
  text-align: center;
  justify-content: center;

  color: #000000;
}

.nav_1_1 {
  display: flex;
  width: 500px;
  justify-content: flex-end;
  margin-right: 10px;
}

.edit {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  float: right;

  width: 150px;
  height: 30px;

  background-color: #3EA083;
  border-radius: 3610px;
}

.edit:hover {
  background-color: #89d28f;
}

.edit:active {
  position: relative;
  top: 1px;
  background: #015820ee;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
  border-color: #1a0435;
}


.et {
  display: inline-block;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 48px;
  text-align: center;
  justify-content: center;

  color: #ffffff;
}

.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  float: right;
  margin-left: 20px;

  width: 150px;
  height: 30px;

  background-color: #dc0606;
  border-radius: 3610px;
}

.delete:hover {
  background-color: #f59d9d;
}

.delete:active {
  position: relative;
  top: 1px;
  background: #850202ee;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
  border-color: #1a0435;
}

.dt {
  display: inline-block;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 48px;
  text-align: center;
  justify-content: center;

  color: #ffffff;
}


.cl {
  display: flex;
  align-items: center;
  height: 350px;
}


.photo_1_1 {
  display: flex;
  margin-left: 15px;
  width: 450px;
  height: 300px;

  border-radius: 20px;
}

.text_field_1_1 {
  display: flex;
  width: 600px;
  height: 300px;
  margin-left: 20px;

  background: #FCFBFF;
  border-radius: 20px;
}

.text_1_1 {
  display: flex;
  height: 200px;
  margin: 15px;
  margin-left: 20px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 39px;

  color: #000000;
}

.rnav {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.uc {
  display: flex;
  background-color: #44AEB5;
  border-radius: 23px;
  width: 300px;
  height: 130px;
  margin-bottom: 20px;
  flex-direction: column;
}

.dc {
  display: flex;
  background-color: #9AB0FF;
  border-radius: 23px;
  width: 300px;
  height: 130px;
  flex-direction: column;
}

.uct {
  display: flex;
  width: 100%;
  height: 44px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 44px;
  justify-content: center;


  color: #000000;
}


.fuct {
  width: 100%;
  justify-content: center;
  display: flex;
}

.sfuct {
  display: flex;
  width: 90%;
  height: 40px;
  margin-top: 15px;
}



.dct {
  display: flex;
  width: 100%;
  height: 44px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 44px;
  justify-content: center;


  color: #000000;
}


.fdct {
  width: 100%;
  justify-content: center;
  display: flex;
}

.sfdct {
  display: flex;
  width: 90%;
  height: 40px;
  margin-top: 15px;
}


.dl {
  display: flex;
  width: 100%;
  height: 100%;
}

.Words_field {
  display: flex;
  width: 100%;
  height: 100%;
  margin-left: 30px;
  flex-direction: column;
}

.up_text {
  display: flex;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 44px;



  color: #000000;

}

.data_text {
  display: flex;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 44px;
  color: #000000;
}

.status2 {
  display: flex;
  width: 310px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 48px;

  color: #040DEA;
}

.photography2 {

  box-sizing: border-box;
  width: 150 px;
  height: 150px;
  margin: 40px;
  margin-top: 25px;
  border: 5px solid #4036AB;
  border-radius: 450px;
  transform: rotate(-1.1deg);
}

.navig2 {
  display: flex;
  width: 500px;
  justify-content: end;
  margin-right: 70px;
}

.dct2 {
  display: flex;
  width: 100%;
  height: 44px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 44px;
  justify-content: center;
  color: #3E9255;
}

.text_1_2 {
  display: flex;
  height: 200px;
  margin: 15px;
  margin-left: 20px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 39px;

  color: #000000;
}

.a_2 {
  display: flex;
  width: 1400px;
  height: 500px;
  margin-top: 40px;
  background: #CFF3FB;
  border-radius: 30px;
  flex-direction: column;
}

.a_3 {
  display: flex;
  width: 1400px;
  height: 420px;
  margin-top: 40px;
  background: #CFF3FB;
  border-radius: 30px;
  flex-direction: column;
}

.create {
  display: flex;
  justify-content: end;
  margin-right: 70px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.create_butt {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  float: right;
  width: 290px;
  height: 80px;

  background-color: #9A4EFC;
  border-radius: 100px;
}

.text_create {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 39px;

  color: #ffffff;
}

.create_butt:hover {
  background-color: #643c92;
}

.create_butt:active {
  position: relative;
  top: 1px;
  background: #4b0b70ee;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
  border-color: #1a0435;
}

.applications_header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.application {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 90px;
  background: #BAE6FF;
  border-radius: 132px;
}

.application_text {
  font-family: 'Inter', sans-serif;
  font-size: 34px;
}

.applications_field2 {
  display: flex;
  flex-direction: column;
  width: 1400px;
  height: 620px;
  padding: 35px;
  margin-top: 40px;
  background: rgba(207, 243, 251, 0.9);
  border-radius: 48px;
  margin-bottom: 40px;
}

.up_appl {
  display: flex;
  margin-bottom: 45px;
}

.left_piece_appl {
  display: flex;
  flex-direction: column;
}

.right_piece_appl {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  width: 100%;
}

.nophoto_appl {
  margin-top: 15px;
  width: 350px;
  height: 340px;
  background: #FFFFFF;
}

.appl_form1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
}

.appl_form1_1 {
  padding-left: 7px;
  font-size: 35px;
  border: none;
  width: 77%;
  margin-left: 30px;
}

.appl_form2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.appl_form2_2 {
  padding-left: 7px;
  font-size: 35px;
  border: none;
  width: 77%;
  height: 330px;
  margin-left: 20px;
  resize: none;
}

.appl_form3 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.appl_select {
  padding-left: 7px;
  font-size: 35px;
  border: none;
  margin-left: 30px;
}

.create2 {
  display: flex;
  justify-content: center;
}

.categories_header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.categories_header1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 520px;
  height: 90px;
  background: #BAE6FF;
  border-radius: 132px;
}

.application_textb {
  font-family: 'Inter', sans-serif;
  font-size: 34px;
  margin-bottom: 20px;
}

.categories_field2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1100px;
  height: 620px;
  padding: 35px;
  margin-top: 20px;
  background: rgb(219, 225, 255);
  border-radius: 48px;
  margin-bottom: 40px;
}

.sect_cat {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.cat_main {
  display: flex;
  height: 500px;
  width: 900px;
  padding: 20px;
  border-radius: 30px;
  background-color: #fff;
}

.cat_text {
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  margin-bottom: 15px;
}

.cat_cats {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.cat_buttons {
  display: flex;
  align-items: flex-end;
}

.cat_butt_style {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  float: right;
  width: 220px;
  height: 60px;
  background-color: #6CDF71;
  border-radius: 100px;
  margin-right: 5px;
}

.cat_butt_style2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  float: right;
  width: 220px;
  height: 60px;
  background-color: #CE1010;
  border-radius: 100px;
}